*{
    box-sizing: border-box;
  }

  body {
    background-color: black;
  }

  .top {
    margin-top: 5rem;
  }
  
  .left {
    margin-left: 1rem;
    float: left;
  }
  
  .left a {
    color: white;
    font-size: 5vw;
    text-decoration: none; 
    font-family: 'Rouge Script', cursive; 
  }

  .left a:hover {
      color: #eadebe;
  }
  
  .right {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-weight: 100;  
    font-size: 3vw;
    width: 40%;
    float: right;
  }
  
  .right a {
    text-decoration: none;
    color: white;
  }
   
  
  .right a:hover{
    color: #eadebe;
  }
  
  .body-pic {
      background-color: #9933ff;
      margin-top: 5rem;
  }

  .row {
    margin-top: 8rem;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 0 2rem;
  }
  
  .card {
    padding: 0.5rem;
    text-align: center;
    background-color: #f1f1f1;
    height: 33vh;
  }
  
  .card h {
    font-size: 4.5vw;
    font-family: "Great Vibes", cursive;
    color: black;
  }
  
  .card p {
    font-size: 25px;
    font-family: "Great Vibes", cursive;
    color: rgba(0, 0, 0, 0.616);
  }
  
  .fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 50%;
    background: black;
    color: white;
  }
  
  .fa:hover {
      background-color: #c0ab71;
      color: black;
  }

  .contact {
    position: absolute;
    margin-top: 26rem;
    text-align: center;
    width: 100%;
  }
  
  .contact h {
    font-size: 5vw;
    font-family: 'Rouge Script', cursive;
    color: white;
  }
  
  .contact p {
    font-size: 3vw;
    font-family: "Libre Baskerville", serif;
    color: white;
  }
  
  .map {
    position: relative;
    margin-top: 60rem;
    margin-bottom: 10rem;
  }

  .map iframe {
      height: 80vh;
      margin-bottom: 10rem;
  }

  .map h {
    color: white;
    font-family: "Libre Baskerville", serif;
    font-size: 2vw;
    margin-bottom: 7rem;
  }


@media screen and (max-width: 1024px) {
    .right {
        margin-top: 1.5rem;
    }
    .map {
        margin-top: 54rem;
        margin-bottom: 5rem;
    }
    .map iframe {
        height: 60vh;
        margin-bottom: 5rem;
    }
} 
@media screen and (max-width: 750px) {
    .top {
        margin-top: 3rem;
    }
    .right {
        margin-top: 1rem;
    }
    .body-pic {
        margin-top: 4rem;
    }
    .row {
        margin-top: 5rem;
    }
    .card {
        height: 28vh;
    }
    .card p {
        font-size: 20px;
    }
    .contact {
        margin-top: 20rem;
    }
    .map {
        margin-top: 38rem;
        height: 10vh;
        margin-bottom: 25rem;
    }
    .map iframe {
        height: 37vh;
    }
    .map h {
        font-size: 3vw;
    }
}



