*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  
  header{
    width: 100%;
    min-height: 150px;
    background-color: black;
  }
  
  div.left {
    margin-left: 40px;
    float: left;
    margin-top: 40px;
  }
  .left a{
    color: white;
    font-size: 40px;
    text-decoration: none; 
    font-family: 'Rouge Script', cursive;  
  }
  
  div.right {
    margin-right: 40px;
    float: right;
    margin-top: 25px;
  }
   
  div.right ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    font-family: san-serif;
    font-weight: bold;   
  }
  
  div.right ul li a {
    margin-top: 25px;
    text-decoration: none;
    color: white;
    display: block;
  }
  
  div.right ul li a:hover{
    color: #9933ff;
  }
  
  body {
    background-color: black;
  }
  
  .bodypic1 {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 10s00px; 
  }
  
  .column1 h {
    font-family: 'Rouge Script', cursive;
    color: white;
    font-size: 90px;
    color: #dcccff;
  }
  
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row1a:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column1a {
    float: left;
    width: 75%;
    padding: 10px;
    height: 700px; 
  }
  
  .column1a p {
    font-family: "Libre Baskerville", serif;
    color: white;
    font-size: 25px;
    margin-left: 60px;
  }
  
  .column1b {
    float: left;
    width: 25%;
    padding: 10px;
    height: 700px; 
  }
  
  .column1b p {
    font-family: "Libre Baskerville", serif;
    color: white;
    font-size: 25px;
  }
  
  .footer {
    height: 100px;
  }
  
  .footer h {
    color: white;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
  }
  